body {
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2029&q=80) ;
}
h1,h2,p {
    text-align: center;
   }
h1,h2 {
    font-family: Impact,serif;
}
h1{
    font-size: 40px;
}   
h2{
    font-size: 30px;
}
hr{
    height: p2x;
    background-color: mediumpurple;
    border-color: mediumpurple;
}
.menu {
    max-width: 500px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: mediumorchid;
}
.established{
    font-style: italic;
}
.item p {
    display: inline-block;

}

.flavor,.desserts {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

